# Sistema
.DS_Store
Thumbs.db
desktop.ini

# Editores (preferencias locales)
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Secretos / temporales
.env
.env.*
!.env.example
*.log
*.tmp

# Node
node_modules/
dist/

# PDFs generados localmente (opcional; descomenta si no quieres versionarlos)
# *.pdf
